<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <img src="{{uiRootPath}}/img/openapi-processor-p.svg" alt="logo" width="100px">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

            <a class="navbar-link-icon" href="https://openapi-processor-playground.appspot.com" target="_blank">
              <img src="{{uiRootPath}}/img/openapi-processor-p.svg" class="p" alt="playground"> playground
            </a>

            <a class="navbar-link-icon" href="https://github.com/hauner/openapi-processor-spring" target="_blank">
              <img src="{{uiRootPath}}/img/GitHub-Mark-32px.png" alt="GitHub"> spring
            </a>
            <a class="navbar-link-icon" href="https://github.com/hauner/openapi-processor-json" target="_blank">
              <img src="{{uiRootPath}}/img/GitHub-Mark-32px.png" alt="GitHub"> json
            </a>
            <a class="navbar-link-icon" href="https://github.com/hauner/openapi-processor-gradle" target="_blank">
              <img src="{{uiRootPath}}/img/GitHub-Mark-32px.png" alt="GitHub"> gradle
            </a>

      </div>

    </div>

  </nav>
</header>
