<!DOCTYPE html>
<html lang="en">
  <head>
    {{> oap-head}}
  </head>

  <body class="text-green-900">

    <header class="bg-white w-full fixed top-0 z-30">

      <div class="relative h-16 border-b m-0 px-4 max-w-screen-xl mx-auto flex items-center justify-between">
        <img src="{{{uiRootPath}}}/img/openapi-processor-p.svg" alt="logo" class="oap-logo">
        <div class="text-2xl ml-16">
          <a href="https://docs.openapiprocessor.io" class="ml-4 hover:text-gray-600">openapi-processor</a>
        </div>

        <div class="text-2xl">
          <a href="https://playground.openapiprocessor.io" target="_blank" class="hover:text-gray-600">
            <i class="far fa-play-circle mr-1"></i>playground
          </a>
        </div>
      </div>

    </header>


    <main class="m-0 lg:px-5 mt-16 max-w-screen-xl mx-auto">

      <div class="lg:flex lg:flex-row-reverse" style="min-height: 100vh">

        <section class="flex-col lg:flex-grow lg:w-main px-4">

          <div class="hidden md:flex md:justify-between md:sticky md:top-sidebar md:ml-4 bg-white text-sm py-2 border-b z-20">

            <div class="flex">
              <div class="mr-1">
                {{#with site.homeUrl}}
                  <a href="{{{relativize this}}}" class="text-gray-500 hover:text-green-600">
                    <i class="fas fa-home"></i>
                  </a>
                {{/with}}
              </div>

              <div>
                {{> oap-breadcrumbs}}
              </div>
            </div>

            <div class="ml-1 text-gray-500 hover:text-green-600">
              {{#if (and page.fileUri (not env.CI))}}
                <a href="{{page.fileUri}}"><i class="fas fa-pen"></i></a>
              {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
              <a href="{{page.editUrl}}"><i class="fas fa-pen"></i></a>
              {{/if}}
            </div>

          </div>

          <article class="bg-white py-4 doc">
            {{#if (eq page.layout '404')}}
            <h1 class="page">{{{or page.title 'Page Not Found'}}}</h1>

            <div class="paragraph">
              <p>The page you&#8217;re looking for does not exist. It may have been moved.</p>
            </div>

            <div class="paragraph">
              <p>If you arrived on this page by clicking on a link, please notify the owner of the site that the link is broken.
              If you typed the URL of this page manually, please double check that you entered the address correctly.</p>
            </div>
          {{else}}
          {{#with page.title}}
            <h1 class="page">{{{this}}}</h1>
          {{/with}}
            {{{page.contents}}}
          {{/if}}
          </article>

          <div class="bg-white text-gray-500 text-sm hidden sm:block">

            {{#unless (eq page.attributes.pagination undefined)}}
            {{#if (or page.previous page.next)}}
            <nav class="flex justify-between">
              {{#with page.previous}}
              <span class="prev">
                <a href="{{{relativize ./url}}}"><i class="fas fa-reply mr-1"></i>{{{./content}}}</a>
              </span>
              {{/with}}
              {{#with page.next}}
              <span class="next">
                <a href="{{{relativize ./url}}}">{{{./content}}}<i class="fas fa-share ml-1"></i></a>
              </span>
              {{/with}}
            </nav>
            {{/if}}
            {{/unless}}

          </div>

        </section>

        <aside class="lg:w-sidebar x-bg-gray-100 px-4 py-3 divide-y">

          <section class="mb-2">
            {{#each site.components}}

              <div class="flex flex-wrap justify-between items-center">

                {{#if (isPageComponent this)}}

                  <span class="font-bold">{{{ this.title }}}</span>
                  <div>
                      <oap-versions version="{{@root.page.displayVersion}}">
                      {{#each this.versions}}
                        <div data-url="{{this.url}}" data-version="{{this.displayVersion}}"></div>
                      {{/each}}
                    </oap-versions>
                  </div>

                {{else}}

                  <span>{{{ this.title }}}</span>
                  <div>
                      <oap-versions version="none">
                      {{#each this.versions}}
                        <div data-url="{{this.url}}" data-version="{{this.displayVersion}}"></div>
                      {{/each}}
                    </oap-versions>
                  </div>

                {{/if}}

              </div>
            {{/each}}
          </section>

          <section class="lg:sticky pt-2" style="top: 3.95rem">

            <div class="text-xl font-bold text-green-700">{{{ page.component.title }}}</div>

            {{#each page.navigation}}
              {{!--
              <div class="pl-0">
                <a href="{{{relativize this.url}}}" class="hover:text-green-600 font-bold">{{{this.content}}}</a>
              </div>
              --}}

              {{#each this.items}}
                <div class="pl-0">
                  <a href="{{{relativize this.url}}}" class="hover:text-green-600 {{#if (eq this.url @root.page.url)}}font-bold{{/if}}">{{{this.content}}}</a>
                </div>

                {{#each this.items}}
                  <div class="pl-4">
                    <a href="{{{relativize this.url}}}" class="hover:text-green-600 {{#if (eq this.url @root.page.url)}}font-bold{{/if}}">{{{this.content}}}</a>
                  </div>

                  {{#each this.items}}
                    <div class="pl-8">
                      <a href="{{{relativize this.url}}}" class="hover:text-green-600 {{#if (eq this.url @root.page.url)}}font-bold{{/if}}">{{{this.content}}}</a>
                    </div>
                  {{/each}}

                {{/each}}

              {{/each}}

            {{/each}}

          </section>

        </aside>

      </div>

      <footer class="p-6 mt-4 border footer sticky" style="bottom: -20rem">

        <div class="text-gray-700 text-sm flex justify-between">

          <div class="flex-none w-48 mr-12">
            <img src="{{uiRootPath}}/img/openapi-processor-large.png" alt="logo" class="h-24 w-48">

            <div class="text-xs text-center">&#169; 2019-2020 Martin Hauner</div>
          </div>

          <div class="flex justify-between flex-col lg:flex-row">

            <div class="flex flex-col mb-4 mr-0 mr-12">
              <div class="font-bold">Twitter</div>

              <a class="" href="https://twitter.com/OpenApiProcess">
                <i class="fab fa-twitter"></i> @OpenApiProcess
              </a>
            </div>

            <div class="flex flex-col mb-4 mr-0 mr-12">
              <div class="font-bold">Samples - GitHub</div>

              <a class="" href="https://github.com/openapi-processor/openapi-processor-samples">
                <i class="fab fa-github"></i> oap-samples
              </a>
            </div>

            <div class="flex flex-col mb-4 mr-0 mr-12">
              <div class="font-bold">Plugins - GitHub</div>

              <a class="" href="https://github.com/openapi-processor/openapi-processor-maven">
                <i class="fab fa-github"></i> oap-maven
              </a>

              <a class="" href="https://github.com/openapi-processor/openapi-processor-gradle">
                <i class="fab fa-github"></i> oap-gradle
              </a>
            </div>

            <div class="flex flex-col mr-12">
              <div class="font-bold">Processors - GitHub</div>

              <a class="" href="https://github.com/openapi-processor/openapi-processor-spring">
                <i class="fab fa-github"></i> oap-spring
              </a>

<!--              <a class="" href="https://github.com/openapi-processor/openapi-processor-micronaut">-->
<!--                <i class="fab fa-github"></i> openapi-processor-micronaut-->
<!--              </a>-->

              <a class="" href="https://github.com/openapi-processor/openapi-processor-json">
                <i class="fab fa-github"></i> oap-json
              </a>

              <a class="" href="https://github.com/openapi-processor/openapi-processor-core">
                <i class="fab fa-github"></i> oap-core
              </a>

            </div>
          </div>


        </div>

      </footer>

    </main>


    <script type="module" src="{{{uiRootPath}}}/versions/versions.esm.js"></script>
    <script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>

    {{!--
    <!--
      site: {{{ json site }}}
    -->

    <!--
      page: {{{ json page }}}
    -->

    <!--
      env: {{{ json env }}}
    -->

    <!--
      siteRootPath: {{{ json siteRootPath }}}
    -->

    <!--
      uiRootPath: {{{ json uiRootPath }}}
    -->

    <!--
      antoraVersion {{{ json antoraVersion}}}
    -->
    --}}

  </body>

</html>
