<!DOCTYPE html>
<html lang="en">
  <head>
    {{> oap-head}}
  </head>

  <body>
    {{> oap-versions-component}}


    <header class="bg-white w-full fixed top-0 z-30">

      <div class="h-12 border-b m-0 px-4 max-w-screen-xl mx-auto flex items-center justify-between">
        header
      </div>

    </header>


    <main class="m-0 lg:px-5 py-5 max-w-screen-xl mx-auto">

      <div class="lg:flex lg:flex-row-reverse">

        <section class="flex-col lg:flex-grow lg:w-main px-4">

          <div class="flex justify-between bg-white lg:sticky lg:top-sidebar text-sm py-2 border-b z-20">

            <div class="flex">
              <div class="mr-1">
                {{#with site.homeUrl}}
                  <a href="{{{relativize this}}}" class="text-gray-500 hover:text-green-600">
                    <i class="fas fa-home"></i>
                  </a>
                {{/with}}
              </div>

              <div>
                {{> oap-breadcrumbs}}
              </div>
            </div>

            <div class="ml-1 text-gray-500 hover:text-green-600">
              {{#if (and page.fileUri (not env.CI))}}
                <a href="{{page.fileUri}}"><i class="fas fa-pen"></i></a>
              {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
              <a href="{{page.editUrl}}"><i class="fas fa-pen"></i></a>
              {{/if}}
            </div>

          </div>

          <article class="bg-white p-8 xborder doc">
            {{#if (eq page.layout '404')}}
            <h1 class="page">{{{or page.title 'Page Not Found'}}}</h1>

            <div class="paragraph">
              <p>The page you&#8217;re looking for does not exist. It may have been moved.</p>
            </div>

            <div class="paragraph">
              <p>If you arrived on this page by clicking on a link, please notify the owner of the site that the link is broken.
              If you typed the URL of this page manually, please double check that you entered the address correctly.</p>
            </div>
          {{else}}
          {{#with page.title}}
            <h1 class="page">{{{this}}}</h1>
          {{/with}}
            {{{page.contents}}}
          {{/if}}
          </article>

          <div class="bg-white text-gray-500 text-sm hidden sm:block">

            {{#unless (eq page.attributes.pagination undefined)}}
            {{#if (or page.previous page.next)}}
            <nav class="flex justify-between">
              {{#with page.previous}}
              <span class="prev">
                <a href="{{{relativize ./url}}}"><i class="fas fa-reply mr-1"></i>{{{./content}}}</a>
              </span>
              {{/with}}
              {{#with page.next}}
              <span class="next">
                <a href="{{{relativize ./url}}}">{{{./content}}}<i class="fas fa-share ml-1"></i></a>
              </span>
              {{/with}}
            </nav>
            {{/if}}
            {{/unless}}

          </div>

        </section>

        <aside class="lg:w-sidebar lg:pt-12 x-bg-gray-100 p-4 divide-y">

          <section class="mb-2">

             {{#each site.components}}

                <div class="flex items-center justify-between">

                  {{#if (isPageComponent this)}}
                    <div class="font-bold">{{{ this.title }}}</div>
                  {{else}}
                    <div>{{{ this.title }}}</div>
                  {{/if}}

                  {{> oap-versions}}
                </div>

              {{/each}}
          </section>

          <section class="lg:sticky" style="top: 0.25rem">

            {{#with page.navigation}}
            <div class="nav-panel-menu is-active" data-panel="menu">
              <nav class="nav-menu">
                {{#with @root.page.componentVersion}}
                <h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
                {{/with}}
            {{> nav-tree navigation=this}}
              </nav>
            </div>
            {{/with}}

          </section>

          <section>
            {{#each page.navigation}}
              <div>1 {{{  this.content }}}</div>

              {{#each this.items}}
                <div>2 {{{  this.content }}}</div>

                {{#each this.items}}
                  <div>3 {{{ this.content }}}</div>

                  {{#each this.items}}
                    <div>4 {{{  this.content }}}</div>
                  {{/each}}

                {{/each}}

              {{/each}}

            {{/each}}
          </section>

        </aside>

      </div>

      <footer class="p-2 mt-4 border">
        <p>bottom footer</p>
      </footer>

    </main>

<!--    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<!--    <script src="{{{uiRootPath}}}/js/app.js"></script>-->

    <!--
      site: {{{ json site }}}
    -->

    <!--
      page: {{{ json page }}}
    -->

    <!--
      env: {{{ json env }}}
    -->

    <!--
      siteRootPath: {{{ json siteRootPath }}}
    -->

    <!--
      uiRootPath: {{{ json uiRootPath }}}
    -->

    <!--
      antoraVersion {{{ json antoraVersion}}}
    -->

  </body>

</html>
